section#grants .grid-grants{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr1fr 1fr;
    margin: 1em;
    grid-gap: 1em
    }
    
    .s6-a-articles{
    grid-column: 1/ span 4;
    grid-row: 1/ span 4
    }
    
    .s6-b-ribbon{
    grid-column: 5/ span 2;
    grid-row: 1/ span 4
    }

    @media screen and (min-width: 500px) {
        .grid-grants{
          display:none
        }
      .s6-a-articles{     
      display:none
      }
      .s6-b-ribbon{ 
          display: none
      }
      
      }
      
      @media screen and (min-width: 800px) {
        .grid-grants{
          grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 3fr;
        }
      }
      