section#home

.main{
    background-image: url("@{images}/lucid-wall-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-home{
grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: auto auto auto;
display: grid;
 margin: 1em;
 grid-gap: 1em;
 min-height: 500px;
}

.flex-box-home {
  display: flex;
  justify-content: center; 
  //USE FOR EASE OF EDITING BLOCKS WITHIN GRID
  //background-color: rgb(95, 54, 86);

    h2 {
        display: flex;
        justify-content: center;
        align-self: center
    }

}

.grid-home .grid-box {
display:grid;
grid-template-rows: 1fr 1fr 1fr;

//USE FOR EASE OF EDITING BLOCKS WITHIN GRID
//background-color: rgb(187, 106, 169);
}

.s1-a-title{
grid-column: auto / span 4;
grid-row: 1 / span 1;
display:grid;
grid-template-rows: 1fr 1fr 1fr;

h2{
    color: #F9F1F1;
    font-size: 3em;
    font-family: 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    grid-row: 2 / span 1;
    margin: 0;
    padding: 0;
  }
h3 {
    grid-row: 3 / span 1;
    color: #F9F1F1;
    font-size: 1.4em;
    font-family: 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 10em
}

}

.s1-b-links{
grid-column: 2 / span 4;
grid-row: 2 / span 1;

    a {
        color: rgb(95, 54, 86);

    }

    .team-link {
        margin-left: none;
    }

    .mission-link {
        margin-right: 10em;
        margin-top: .2em;
    }

    .work-link {
        margin-left: 8em;
    }
}
.s1-c-grants-link{
    //grid-column: 4 / span 2;
grid-column: 4 / span 2;
grid-row: 3 / span 1;
margin-left: 6em;

a {
    color: rgb(95, 54, 86);

}
}

.s1-d-side-links{ //(articles, news, contact)
grid-column: 7 /span 1;
grid-row: 1 / span 3 ;
display:grid;
grid-template-rows: 1fr 1fr 1fr;


}

.s1-e-mobile-links{
display: none
}

// @media screen and (min-width: 500px) {
//     .grid-home{
//       grid-template-columns: 1fr; 
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
//     }
//   .s1-a-title{
//   grid-column: 1/span 1;
//   grid-row: 1/span 2;
//   background-image: something
//   }
//   .s1-b-links{
//   display:none
//   }
//   .s1-c-grants-link{
//   display:none
//   }
  
//   .s1-d-side-links{ 
//   display:none
//   }
//   .s1-e-mobile-links{
//   display: grid;
//   grid-column: 1/ span 1;
//   grid-row: 3/span 6
//   }
//   .grid-mission{
//   display:none
//   }
//   .grid-team{
//   display:none
//   }
//   .grid-fieldwork{
//   display:none
//   }
//   .grid-technology{
//   display:none
//   }
//   .grid-grants{
//   display:none
//   }
//   .grid-articles{
//   display:none
//   }
//   .grid-news{
//   display:none
//   }
//   .grid-contact{
//   display:none
//   }
//   }
//   @media screen and (min-width: 800px) {
//     .grid-home{
//       grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 3fr;
//     }
//   }
  
  