section#mission .grid-mission{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .66fr 1fr 1fr 1fr;
     margin: 1em;
     grid-gap: 1em;
    }
    .s2-a-title{ //(change text color on actual p tags)
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
    }
    .s2-b-images{ 
        grid-column: 1/ span 1;
        grid-row: 1/ span 4;
    }
    .s2-c-mission-text{ //(change text color on actual p tags)
        grid-column: 2/ span 1;
        grid-row: 1/ span 4;
    }

    @media screen and (min-width: 500px) {
        .grid-mission{
          grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
      .s2-a-title{     
      grid-column: 1/ span 1;
          grid-row: 1/ span 1;
      }
      .s2-b-images{ 
          display: none
      }
      .s2-c-mission-text{ 
          grid-column: 1/ span 1;
          grid-row: 2/ span 7;
      }
      }
      @media screen and (min-width: 800px) {
        .grid-mission{
          grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 3fr;
        }
      }
      