section#mission 

.grid-mission{
    display: grid;

    }

    @media (min-width: 601px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .66fr 1fr 1fr;
     margin: 1em;
     grid-gap: 1em;
     min-height: 50vh;
    }

    @media (max-width: 600px) {
        .grid-mission{
            display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
             margin: 1em;
             grid-gap: 0em;
             min-height: 100vh;
            }

    }

    .flex-box-mission {
        display: flex;
        justify-content: center; 
        align-items: center;
        //background-color: rgb(70, 95, 54);
      
          h2 {
              display: flex;
              justify-content: center;
              align-self: center
          }
      
      }

      .flex-box-mission2 {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        //background-color: rgb(70, 95, 54);
      }
      
    .grid-mission .grid-box {
      display:grid;
      grid-template-rows: 1fr 1fr 1fr;
      //Use for repositioning
      //background-color: rgb(187, 106, 169);


      }


      @media (min-width: 601px) {

    .s2-a-title{ //(change text color on actual p tags)
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;


        h1{
            font-size: 3em;
        }
    }

}

@media (max-width: 600px) {

    .s2-a-title{ 
        grid-row: 1 / span .1;
        padding: 0;
        margin: 0;
    }
}


    @media (min-width: 601px) {
    .s2-b-images{ 
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
    }

    @media (max-width: 600px) {

        .s2-b-images{ 
            display: none;
        }
    }

    @media (min-width: 601px) {
    .s2-c-mission-text{ //(change text color on actual p tags)
        grid-column: 2 / span 3;
        grid-row: 1 / span 3;
        p{
            margin-right: 2em;
            margin-left: 2em;
            font-size: 2em;
        }
    }
    
}

@media (max-width: 600px) {
    .s2-c-mission-text{ //(change text color on actual p tags)
        grid-column: 1 / span 1;
        grid-row: 2 / span 3;
        p{
            margin-right: 0em;
            margin-left: 0em;
            font-size: 1em;
        }
    }
}
    .top{
        color: #2A1CEC;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 2.5em;
    }

    .middle{
        color: #0CB906;
         margin-top: 1em;
      
    }

    .bottom {
        color: #E88015;
        margin-top: 1em;
    }

    // @media screen and (min-width: 600px) {
    //     .grid-mission{
    //       grid-template-columns: 1fr; 
    //   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    //     }
    //   .s2-a-title{     
    //   grid-column: 1/ span 1;
    //       grid-row: 1/ span 1;
    //   }
    // //   .s2-b-images{ 
    // //       display: none
    // //   }
    //   .s2-c-mission-text{ 
    //       grid-column: 1/ span 1;
    //       grid-row: 2/ span 7;
    //   }
    //   }
    //   @media screen and (min-width: 800px) {
    //     .grid-mission{
    //       grid-template-columns: 1fr 1fr 1fr;
    //   grid-template-rows: 1fr 3fr;
    //     }
    //   }
      