.test {
  color: #216278;
}
section#home .grid-home {
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  display: grid;
  margin: 1em;
  grid-gap: 1em;
}
.box {
  display: flex;
  justify-content: center;
  background-color: #ff00c4;
}
.s1-a-title {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}
.s1-b-links {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.s1-c-grants-link {
  grid-column: 4 / span 2 0.8;
  grid-row: 3 / span 1;
}
.s1-d-side-links {
  grid-column: 7;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.s1-e-mobile-links {
  display: none;
}
@media screen and (min-width: 500px) {
  .grid-home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  }
  .s1-a-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-image: something;
  }
  .s1-b-links {
    display: none;
  }
  .s1-c-grants-link {
    display: none;
  }
  .s1-d-side-links {
    display: none;
  }
  .s1-e-mobile-links {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 6;
  }
  .grid-mission {
    display: none;
  }
  .grid-team {
    display: none;
  }
  .grid-fieldwork {
    display: none;
  }
  .grid-technology {
    display: none;
  }
  .grid-grants {
    display: none;
  }
  .grid-articles {
    display: none;
  }
  .grid-news {
    display: none;
  }
  .grid-contact {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .grid-home {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}
section#mission .grid-mission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.66fr 1fr 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.s2-a-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.s2-b-images {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}
.s2-c-mission-text {
  grid-column: 2 / span 1;
  grid-row: 1 / span 4;
}
@media screen and (min-width: 500px) {
  .grid-mission {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .s2-a-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .s2-b-images {
    display: none;
  }
  .s2-c-mission-text {
    grid-column: 1 / span 1;
    grid-row: 2 / span 7;
  }
}
@media screen and (min-width: 800px) {
  .grid-mission {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}
section#team .grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 1em;
  grid-gap: 1em;
}
.s3-a-team-links {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
.s3-b-team-statement {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}
.s3-c-team-link {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 500px) {
  .grid-team {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .s3-a-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .s3-b-team-statement {
    display: none;
  }
  .s3-c-team-links {
    grid-column: 1 / span 1;
    grid-row: 2 / span 7;
  }
}
@media screen and (min-width: 800px) {
  .grid-team {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}
section#team .grid-team-individual {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 1em;
  grid-gap: 1em;
}
.s3-s1-a-team-member {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.s3-s1-b-team-member-description {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}
.s3-s1-c-team-interests {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
.s3-s1-d-interest-box {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 500px) {
  .grid-team-individual {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .s3-a-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .s3-s1-a-team-member {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }
  .s3-b-team-member-description {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
  }
  .s3-s1-c-team-interests {
    grid-column: 1 / span 1;
    grid-row: 7 / span 2;
  }
}
@media screen and (min-width: 800px) {
  .grid-team-individual {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
}
