.test {
  color: #216278;
}
section#home .main {
  background-image: url("./imgs/lucid-wall-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-home {
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  display: grid;
  margin: 1em;
  grid-gap: 1em;
  min-height: 500px;
}
.flex-box-home {
  display: flex;
  justify-content: center;
}
.flex-box-home h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.grid-home .grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.s1-a-title {
  grid-column: auto / span 4;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.s1-a-title h2 {
  color: #F9F1F1;
  font-size: 3em;
  font-family: 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  grid-row: 2 / span 1;
  margin: 0;
  padding: 0;
}
.s1-a-title h3 {
  grid-row: 3 / span 1;
  color: #F9F1F1;
  font-size: 1.4em;
  font-family: 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-left: 10em;
}
.s1-b-links {
  grid-column: 2 / span 4;
  grid-row: 2 / span 1;
}
.s1-b-links a {
  color: #5f3656;
}
.s1-b-links .team-link {
  margin-left: none;
}
.s1-b-links .mission-link {
  margin-right: 10em;
  margin-top: 0.2em;
}
.s1-b-links .work-link {
  margin-left: 8em;
}
.s1-c-grants-link {
  grid-column: 4 / span 2;
  grid-row: 3 / span 1;
  margin-left: 6em;
}
.s1-c-grants-link a {
  color: #5f3656;
}
.s1-d-side-links {
  grid-column: 7 / span 1;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.s1-e-mobile-links {
  display: none;
}
section#mission .grid-mission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.66fr 1fr 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
  min-height: 50vw;
}
.flex-box-mission {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-box-mission h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.flex-box-mission2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-mission .grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.s2-a-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.s2-a-title h1 {
  font-size: 3em;
}
.s2-b-images {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}
.s2-c-mission-text {
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
}
.s2-c-mission-text p {
  margin-right: 2em;
  margin-left: 2em;
  font-size: 2em;
}
.top {
  color: #2A1CEC;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 2.5em;
}
.middle {
  color: #0CB906;
  margin-top: 1em;
}
.bottom {
  color: #E88015;
  margin-top: 1em;
}
section#team .grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 1em;
  grid-gap: 1em;
  min-height: 50vw;
}
.flex-box-team {
  display: flex;
  justify-content: center;
  background-color: #363a5f;
}
.flex-box-team h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.flex-box-team p {
  display: flex;
  justify-content: center;
  align-self: center;
}
.grid-team .grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #bb6aa9;
  grid-gap: 1em;
}
.s3-a-team-links {
  grid-column: 1 / span 3;
  grid-row: auto / span 1;
}
.s3-b-team-statement {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}
.s3-c-team-link {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}
section#team .grid-team-individual {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 1em;
  grid-gap: 1em;
}
.s3-s1-a-team-member {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.s3-s1-b-team-member-description {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}
.s3-s1-c-team-interests {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
.s3-s1-d-interest-box {
  display: flex;
  justify-content: center;
}
section#fieldwork .grid-fieldwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  margin: 1em;
  grid-gap: 1em;
}
.fieldwork-box1 {
  display: flex;
  justify-content: start;
  background-color: #36AE83;
}
.fieldwork-box2 {
  display: flex;
  justify-content: start;
  background-color: #0CB906;
}
.fieldwork-box3 {
  display: flex;
  justify-content: start;
  background-color: #E88015;
}
.s4-a-title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.s4-b-phases {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
section#technology .grid-technology {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  margin: 1em;
  grid-gap: 1em;
}
.fieldwork-box1 {
  display: flex;
  justify-content: start;
  background-color: #36AE83;
}
.fieldwork-box2 {
  display: flex;
  justify-content: start;
  background-color: #0CB906;
}
.fieldwork-box3 {
  display: flex;
  justify-content: start;
  background-color: #E88015;
}
.s5-a-title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.s5-b-tech-types {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
section#grants .grid-grants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.s6-a-articles {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.s6-b-ribbon {
  grid-column: 5 / span 2;
  grid-row: 1 / span 4;
}
section#articles .grid-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.article-box {
  display: flex;
  justify-content: start;
}
.s7-a-articles {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.s7-b-title {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}
section#news .grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.s8-a-articles {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.s8-b-title {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}
section#contact .grid-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
  min-height: 50vw;
}
.flex-box-contact {
  display: flex;
  justify-content: space-evenly;
}
.flex-box-contact h2 {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 5em;
}
.flex-box-contact h3 {
  margin-top: 10em;
}
.flex-box-contact img {
  max-height: 700px;
}
.grid-contact .grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}
.grid-contact .grid-box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 2em;
  padding-top: 0;
}
.s9-a-header {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
.s9-b-footer {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  background-color: #ED963E;
}
.s9-c-header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  padding-bottom: 0;
}
.s9-c-header-2 h1 {
  font-size: 4em;
  color: #F9F1F1;
}
.s9-d-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #ED963E;
}
.s9-d-info p {
  margin-bottom: 0;
  font-size: 2em;
  color: #F9F1F1;
}
